/* CSS declarations go here */
.game{
  display: flex;
    justify-content:baseline;
}
.question {
    width: 300px;
    height: 200px;
    border: 2px black solid;
    background-image: url("../img/background1");
    background-size: cover;

    border-radius: 10%;



}
.answer1{

    width: 300px;
    height: 200px;
    border: 2px black solid;
    background-image: url("../img/background1");
    background-size: cover;
    border-radius: 10%;

}
.answer2{
    width:300px;
    height: 200px;
    border: 2px black solid;

    background-image: url("../img/background1");
    background-size: cover;
    border-radius: 10%;
    


}

.word{
    margin-top:20%;
    text-align: center;
    font-size: 10vh;
    font-weight: 300;
    font-family: fantasy;
}

.witff {
    font-size: 2vh;
    font-weight: 100;
    font-family: fantasy;


}
.canvas{
    width: 70%;
    margin: 10% auto;
}

.stats{
    display: flex;
    justify-content: space-around;
    font-size: 5vh;
    font-weight: 600;
    font-family: fantasy;
    color: black;
    margin:20px;


}

body{
    background-image: url("../img/background");


}

.upgrade{
        border: 2px solid black;
        background: transparent;
        height: 50px;
    margin:20px;
    background-image: url("../img/background1");
    background-size: cover;
    background-size: 50px;


}

.upgrade button{
    padding:15px;
    height: 50px    ;
}