/* CSS declarations go here */
.game{
    display: flex;
    justify-content: stretch;

}
.question {
    width: 300px;
    height: 250px;
    font-size: 6vh;

    /*background-image: url("../img/background2");*/
    border-radius: 10%;
    color: white;



}
.answer1{
    font-size: 9vh;
    width: 300px;
    height: 200px;
    /*background-image: url("../img/background1");*/
    cursor: pointer;
    border-radius: 10%;
    margin: 10px;

}

.answer1:hover{
    /*background: black;*/
    color:red;
}

.answer2{
    width:250px;
    height: 150px;
    border: 2px black solid;
    background-image: url("../img/background1");
    background-size: cover;
    border-radius: 10%;



}

.word{
    display: table-cell;
    margin: auto 0;
    vertical-align: middle;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
}

.animate {
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    background-color: rgba(219,87,5,1);
    text-align: center;
    font-size: 6vh;
    border: 1px solid rgba(219,87,5,1);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);

}

.animate span {
    display: inline-block;
}

a.repeat {
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    color: orange;
    padding: 5px 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: normal;
    margin: 0 0 0 50px;
    border-radius: 3px;
    position: relative;
    bottom: 15px;
}

a.repeat:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.animate span:nth-of-type(3) {
    animation-delay: .1s;
}
.animate span:nth-of-type(4) {
    animation-delay: .15s;
}
.animate span:nth-of-type(5) {
    animation-delay: .2s;
}
.animate span:nth-of-type(6) {
    animation-delay: .25s;
}
.animate span:nth-of-type(7) {
    animation-delay: .3s;
}
.animate span:nth-of-type(8) {
    animation-delay: .35s;
}
.animate span:nth-of-type(9) {
    animation-delay: .4s;
}
.animate span:nth-of-type(10) {
    animation-delay: .45s;
}
.animate span:nth-of-type(11) {
    animation-delay: .5s;
}
.animate span:nth-of-type(12) {
    animation-delay: .55s;
}
.animate span:nth-of-type(13) {
    animation-delay: .6s;
}
.animate span:nth-of-type(14) {
    animation-delay: .65s;
}
.animate span:nth-of-type(15) {
    animation-delay: .7s;
}
.animate span:nth-of-type(16) {
    animation-delay: .75s;
}
.animate span:nth-of-type(17) {
    animation-delay: .8s;
}
.animate span:nth-of-type(18) {
    animation-delay: .85s;
}
.animate span:nth-of-type(19) {
    animation-delay: .9s;
}
.animate span:nth-of-type(20) {
    animation-delay: .95s;
}

.three span {
    color: #b10e81;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
    60% {
        transform: translate(20px, 0) scale(1);
        color: white;
    }

    80% {
        transform: translate(20px, 0) scale(1);
        color: white;
    }

    99% {
        transform: translate(0) scale(1.2);
        color: yellow;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
        color: white;
    }
}


.canvas{
    width: 70%;
    margin: 0 auto;
}

.stats{
    display: flex;
    justify-content: space-around;
    font-size: 5vh;
    font-weight: 600;

    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    margin:20px;


}
.back{
    width:50px;
    height: 50px;
    cursor: pointer;
}

body{
    background-image: url("../img/background");
    background-repeat: no-repeat;
    background-size: cover;



}

/*.upgrade{*/
/*border: 2px solid black;*/
/*background: transparent;*/
/*height: 50px;*/
/*margin:20px;*/
/*background-image: url("../img/background1");*/
/*background-size: cover;*/
/*background-size: 50px;*/


/*}*/

.upgrade button{
    padding:15px;
    height: 100px;
    width: 100px;
    background-image: url("../img/background2");
    background-position: center;
    background-size: 120px;
    color: red;
    font-size: 7vh;
    font-family: 'Mouse Memoirs', sans-serif;
}

.endedGame{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 12vh;
    font-weight: 500;
    font-family: 'Mouse Memoirs', sans-serif;

}

.endedGame h1{
    margin-top: 100px;
    font-family: 'Mouse Memoirs', sans-serif;
    color: black;
    background: white;
    text-align: center;
    font-size: 10vh;
    border: 1px solid white;
}

.answers{
    display: flex;
    margin: 0 auto;

}

.footerGame{
    text-align: center;
    background:rgba(0,0,0,0.9);
    border:1px solid rgba(219,87,5,1);
    padding: 3%;
    opacity: 100%;
    color: white;
    font-size: 4vh;
    font-weight: 900;
}

.red{
    color:red;
}
.blue{
    color:blue;
}

.fullScreen{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.upgradeSection{
    width: 25%;
    background:rgba(0,0,0,0.9);
    margin-top: 5%;
    border:1px solid rgba(219,87,5,1);

}

.signlog{
    margin: 100px auto;
    width: 60%;
    height: auto;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    color:white;
    background:  rgba(0,0,0,0.9);
    text-align: center;
    border:1px solid rgba(219,87,5,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.upgradeSection h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    background-color: rgba(219,87,5,1);
    text-align: center;
    font-size: 6vh;
    border: 1px solid rgba(219,87,5,1);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
}



.up{
    display: flex;
    justify-content: space-between;
    color: white;
    background:rgba(0,0,0,0.9);
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    border: 1px solid white;
    cursor:pointer;
}
.up img{
    width: 50px;
    height: 50px;
}

.up:hover{
    background: black;
    color: blue;

}

.menu{

    display: block;
    margin: 100px auto;
    width: 60%;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    color:white;
    background:  rgba(0,0,0,0.9);
    text-align: center;
    border:1px solid rgba(219,87,5,1);
}

.signlog{
    margin: 100px auto;
    width: 60%;
    height: auto;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    color:white;
    background:  rgba(0,0,0,0.9);
    text-align: center;
    border:1px solid rgba(219,87,5,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.menu h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    background-color: rgba(219,87,5,1);
    text-align: center;
    font-size: 7vh;
    border: 1px solid rgba(219,87,5,1);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
}
.menu-odd {

    border:1px solid rgba(219,87,5,1);
    cursor: pointer;

}
.menu-even{
    border: 1px solid rgba(219,87,5,1);
    cursor: pointer;

}

.menu-odd:hover {
    color:red;
    border: 1px solid rgba(219,87,5,1);
    background: black;
}
.menu-even:hover{
    color:blue;
    background: black;

    border:1px solid rgba(219,87,5,1);
}


.rankingWrapper{

}
.ranking{
    padding: 20px   ;
    display: block;
    margin: 0px auto;
    width: 60%;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    color:white;
    background:  rgba(0,0,0,0.9);
    text-align: center;
    border:1px solid white;
}
.ranking h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color: black;
    background: white;
    text-align: center;
    font-size: 6vh;
    border: 1px solid white;

}
.score{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color:white;
    font-size: 3vh;
    border: 1px white solid;
    padding:0;
}

.score p{
    margin-left: 10px;
    margin-right: 10px;
}
.signlog{
    margin: 100px auto;
    width: 60%;
    height: auto;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    color:white;
    background:  rgba(0,0,0,0.9);
    text-align: center;
    border:1px solid rgba(219,87,5,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.signlog h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    background-color: rgba(219,87,5,1);
    text-align: center;
    font-size: 6vh;
    border: 1px solid rgba(219,87,5,1);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);

}

.signlog form{
    width: 75%;
    height: auto;
    font-size: 1em;
    font-weight: 100;
    margin: 0 auto;
}

.signlog input{
    height: auto;
    width: 90%;
    background: transparent;
    color:white;
    padding: 5px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 4vh;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: auto 0;
}

.signlog button{
    background-color: rgba(219,87,5,1);
    height: auto;
    min-width: 100px;
    width: auto;
    color:white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 4vh;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    border:0;
    cursor: pointer;
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.blue { color: red; }

.signlog p{
    font-size: 4vh;
    color: rgba(219,87,5,1);
}



.signlog a{
    text-decoration: none;
    color: white;
}


/*multibattle/*
*/

.answer1-battle{
    display: table;
    overflow: auto;
    font-size: 5vh;
    width: 200px;
    height: 200px;
    border: 2px black solid;
    text-align: center;
    vertical-align: center;
    /*background-image: url("../img/background1");*/
    background:rgba(255,255,255,0.6);
    cursor: pointer;
    border-radius: 10%;
    margin: 10px;

}
.question-battle {
    margin-left: 80px;
    width: 200px;
    height: 100px;
    border: 2px black solid;
    font-size: 4vh;

    /*background-image: url("../img/background2");*/
    background:rgba(0,0,0,0.9);

    border-radius: 10%;
    color: white;



}
.game-battle{
    margin: 0 auto;
    display: block;
    width: 400px;

}

.score-battle{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color:white;
    font-family: 'Mouse Memoirs', sans-serif;

    font-size: 3vh;
    background: black;
    border: 1px white solid;
    padding:0;
}

.score-battle p{
    margin-left: 10px;
    margin-right: 10px;
}
.you{
    background: black;
    color:blue;
    font-size:4vh;

}
.canvas-battle{
    width: 50%;
    margin: 0 auto;
}
.ranking-battle{
    width:30%
}


.flag{
    font-size: 4vh;
    width: 300px;
    height: 230px;
    font-family: 'Mouse Memoirs', sans-serif;
    position: relative;
    text-align: center

}
.flag img{
    width: 275px;
    height: 165px;
    border: 1px solid rgba(219,87,5,1);
}
/* Centered text */
.centered {
    position: absolute;
    background: black;
    padding: 3px;
    bottom: 8px;
    right: 16px;
}

.title{
    
    font-size: 5em;
    background: none;
    border: none;
}

.life{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
.star{
    width: 25px;
    height: 25px;
}