/* CSS declarations go here */
.game{
  display: flex;
    justify-content: stretch;

}
.question {
    width: 350px;
    height: 200px;
    border: 2px black solid;
    /*background-image: url("../img/background2");*/
    background: black;

    border-radius: 10%;
    color: white;



}
.answer1{

    width: 300px;
    height: 200px;
    border: 2px black solid;
    background-image: url("../img/background1");
    background-size: cover;
    border-radius: 10%;
    margin: 10px;

}
.answer2{
    width:250px;
    height: 150px;
    border: 2px black solid;

    background-image: url("../img/background1");
    background-size: cover;
    border-radius: 10%;



}

.word{
    margin-top:20%;
    text-align: center;
    font-size: 10vh;
    font-weight: 300;
    font-family: 'Mouse Memoirs', sans-serif;}


.canvas{
    width: 70%;
    margin: 0 auto;
}

.stats{
    display: flex;
    justify-content: space-around;
    font-size: 5vh;
    font-weight: 600;
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    margin:20px;


}

body{
    background-image: url("../img/background");
    background-repeat: no-repeat;
    background-size: cover;



}

/*.upgrade{*/
    /*border: 2px solid black;*/
    /*background: transparent;*/
    /*height: 50px;*/
    /*margin:20px;*/
    /*background-image: url("../img/background1");*/
    /*background-size: cover;*/
    /*background-size: 50px;*/


/*}*/

.upgrade button{
    padding:15px;
    height: 100px;
    width: 100px;
    background-image: url("../img/background2");
    background-position: center;
    background-size: 120px;
    color: red;
    font-size: 7vh;
    font-family: 'Mouse Memoirs', sans-serif;
}

.endedGame{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 12vh;
    font-weight: 500;
    font-family: 'Mouse Memoirs', sans-serif;

}

.answers{
    display: flex;
    margin: 0 auto;

}

.points10 {
    width: 100px;
    background-image: url("../img/background2");
    background-position: center;
    background-size: 120px;
    color: red;
    font-size: 7vh;
    font-family: 'Mouse Memoirs', sans-serif;
}
